/*Buttons*/
.btn-read-more {
    background: #1ED760;
    color: #FFF;
    font-weight:600;
    padding: 14px 24px;
    border: 0 none;
    width: 150px;
}
.btn-read-more:visited {
    background: #1acd5a;
}

.btn-read-more:hover {
    background: #1acd5a;
}

.btn-read-more:active {
    background: #1acd5a;
}

.btn-mote-login {
    background: #FFF;
    color: #7F56C6;
    padding: 14px 24px;
    border: 1px solid #CCCCCC;
    width: 150px;
}

.btn-mote-login:hover {
    background: #FFF;
    color: #7F56C6;
    border: 1px solid #CCCCCC;
}

.btn-mote-login:visited {
    background: #FFF;
    color: #7F56C6;
    border: 1px solid #CCCCCC;
}

.btn-mote-login:active, .btn-mote-login:focus {
    background: #FAFAFA;
    color: #7F56C6;
    border: 1px solid #CCCCCC;
}
